version: "1.0"

services:
  nginx:
    build:
      context: ./requirements/nginx
    image: nginx
    container_name: nginx
    depends_on: [ wordpress ]
    volumes: [ wordpressv:/var/www/html:ro ]
    networks: [ docker-network ]
    ports: [ 443:443 ]
    restart: unless-stopped

  wordpress:
    build:
      context: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    depends_on: [ mariadb ]
    volumes: [ wordpressv:/var/www/html ]
    networks: [ docker-network ]
    restart: unless-stopped
    environment:
      WORDPRESS_ADMIN: ${WORDPRESS_ADMIN}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
      WORDPRESS_DB: ${WORDPRESS_DB}
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_HOST_NO_PORT: ${WORDPRESS_DB_HOST_NO_PORT}
      WEBSITE_URL: ${WEBSITE_URL}
      WEBSITE_USER: ${WEBSITE_USER}
      WEBSITE_TITLE: ${WEBSITE_TITLE}
      WEBSITE_ADMIN_EMAIL: ${WEBSITE_ADMIN_EMAIL}
   
  mariadb:
    build:
      context: ./requirements/mariadb
      args:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        WORDPRESS_ADMIN: ${WORDPRESS_ADMIN}
        WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
        WORDPRESS_DB: ${WORDPRESS_DB}
    image: mariadb
    container_name: mariadb
    volumes: [ mysql-wordpressv:/var/lib/mysql ]
    networks: [ docker-network ]
    restart: unless-stopped

networks:
  docker-network:
    driver: bridge

volumes:
  wordpressv:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: /home/$USER/data/wordpressv
  mysql-wordpressv:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: /home/$USER/data/mysql-wordpressv
